* {
  margin: 0;
  padding: 0;
  }
body {
    margin: 0px;
    padding: 0px;
    background-color: #d5e1ef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div {
    width: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  h1 {
    font-family: 'Outfit';
    color: #1f314f;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  }
  p {
    font-family: 'Outfit';
    color: #7d889e;
    font-size: 15px;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
  }